html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f0914;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #ffffff;
}

menu {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #191021;
    max-width: 300px;
    position: fixed;
    padding: 30px;
    width: auto;
    height: auto;
    border-radius: 8px;
    margin-top: -10px;
}

menu ul li {
    color: #ffffff;
    display: flex;
    gap: 10px;
    text-align: left;
    align-items: center;
}

menu ul li img.icon {
    width: 50px;
    height: 50px;
}

menu div.social-media div.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

menu div.social-media div.icons a img {
    width: 60px;
    height: 60px;
}

main {
    padding: 30px;
    margin-left: 400px;
}

main div#sobre {
    background-color: #19102162;
    padding: 48px;
    border-radius: 8px;
}

main div#sobre div#hello {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

main div#sobre div#hello img {
    border-radius: 50%;
    border-style: solid;
    border-color: #ffffff;
    max-width: 350px;
    max-height: 350px;
}

main div#sobre div#hello div.title-text {
    display: inline;
    max-width: 400px;
}

main div#sobre div#hello div.title-text h1 {
    font-size: 64px;
}

main div#sobre div#hello div.title-text p {
    font-size: 18px;
}

main div#sobre div.text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    font-size: 17px;
}

main div#sobre div.text p {
    margin-bottom: -10px;
}

main div#conquistas {
    margin-top: 200px;
    padding: 8px;
}

main div#conquistas h1 {
   font-size: 64px;
}

main div#conquistas div.categorias {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
}

main div#conquistas div.categorias div.categoria {
    display: inline-block;
    max-width: 400px;
    background-color:#19102162;
    padding: 12px;
    border-radius: 8px; 
}

main div#conquistas div.categorias div.categoria ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main div#conquistas div.categorias div.categoria ul li {
    display: flex;
    gap: 10px;
    list-style: none;
}

main div#conquistas div.categorias div.categoria ul li img {
    width: 50px;
    height: 50px;
}

main div#ferramentas-linguagens {
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

main div#ferramentas-linguagens h1 {
    font-size: 64px;
}

main div#ferramentas-linguagens div.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

main div#ferramentas-linguagens div.icons img {
    max-width: 150px;
    max-height: 150px;
    padding: 20px;
}

main div#ferramentas-linguagens div.icons h1 {
    margin-left: 50px;
    font-size: 150px;
}
main div#repositorios {
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

main div#repositorios h1 {
    font-size: 64px;
}

main div#repositorios div.links {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
}

main div#repositorios a.link {
    background-color:#19102162;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

main div#repositorios a.link img {
    width: 50px;
    height: 50px;
}
